* {
    margin:0;
    box-sizing: border-box;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
  --darkColor: #203239;
  --textColor: white;
  --brandColor: #e5e5e5;
}


.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 30px 5%;
    background-color: var(--brandColor);
    align-items: center;
    overflow: hidden;
}

/* first */
.hero__content {
    width: 60%;
}

.title {
    color: var(--darkColor);
    font-size: 40px;
    line-height: 110%;
    font-weight: 900;
}

.info {
    color: var(--darkColor);
    font-size: 14px;
    line-height: 110%;
    width: 70%;
    margin-top: 20px;
}



.form {
    background-color: #fff;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.form input[type="email"] {
    outline: none;
    border: none;
    background: none;
    width: 400px;
    caret-color: blue;
}


.hero_btn {
    outline: none;
    border: 1px solid transparent;
    background-color:  var(--darkColor);
    color: white;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}


.hero_numbers {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 20px;
}

.colored_text {
    color: orange;
}


/* // second */


.hero__image {
  width: 35%;
}

.hero__image img {
    width: 100%;
    border-radius: 10px;
}


/* Media query starts here */

@media only screen and (max-width: 700px) {
   
    .title {
        font-size: 35px;
    }

    .hero {
        display: flex;
        flex-direction: colum;
    }

    .hero__image {
        display: none;
      }

      .hero__content, .info, .form input[type="email"] { 
        width: 100%;
    }
   
   .form {
     width: 90%;
   }
  
    .hero_numbers {
        display: flex;
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
    }

}
